h1 {
    background-color: darkgray;
}
p {
    color:black;
}
header {
    background-color: antiquewhite;
}
h2 {
    background-color: antiquewhite;
    color: black;
}
h3 {
    background-color: antiquewhite;
    color: black;
}